{% extends 'base.html.twig' %}

{% block title %}Reset de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="py-5">Reset de mot de passe</h2>
        {{ form(form) }}
    </div>
{% endblock %}