parameters:
    locale: 'fr'
    locales: [fr, en]
    defaultUserAvatar: '/img/user-default.svg'
    uploadsRelativeDir: 'uploads/'
    uploadsAbsoluteDir: '%kernel.project_dir%/public/%uploadsRelativeDir%'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            string $defaultUserAvatar: '%defaultUserAvatar%'
            string $uploadsRelativeDir: '%uploadsRelativeDir%'
            string $uploadsAbsoluteDir: '%uploadsAbsoluteDir%'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Service\Mailer:
        arguments:
            $from: '%env(MAILER_FROM)%'

    App\EventListener\EntityListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: postPersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: postUpdate }
