<h1>Bonjour ! Reset votre mot de passe.</h1>

<p>
    Veuillez cliquer sur le lien suivant :
    <br />
    <br />
    <a href="{{ url('app_reset_password_check', { id: user.id, token: user.resetPasswordToken }) }}">Reset mon mot de passe</a>
</p>